<%= render 'layouts/header' %>
<div class="container">
  <div class="kyra col-md-4">
    Kyra
  </div>

  <div class="marilu col-md-4">
   Marilu
  </div>

  <div class="taryn col-md-4">
  Taryn
  </div>

</div>
