<%= render 'layouts/header' %>
<div class="container">
  <div class="kyra col-md-4">
    <img src="http://placehold.it/300x300" class="text-center">
    <h1>Kyra</h1>
    <p><a href="http://www.kyrafillmore.com">www.kyrafillmore.com</a></p>
    <p><a href="https://github.com/kfill27">www.github.com/kfill27</a></p>
    <p><a href="https://www.linkedin.com/in/kyrafillmore">www.linkedin.com/in/kyrafillmore</a></p>
  </div>

  <div class="marilu col-md-4">
    <img src="http://placehold.it/300x300" class="text-center">
    <h1>Marilu</h1>
    <p><a href=" www.PepeLovesBooks.com">www.PepeLovesBooks.com</a></p>
    <p><a href="https://www.linkedin.com/in/marilurioskernan">www.linkedin.com/in/marilurioskernan</a></p>
  </div>


  <div class="taryn col-md-4">
    <img src="http://placehold.it/300x300" class="text-center">
    <h1>Taryn</h1>
    <p><a href="https://github.com/tarynkeim">www.github.com/tarynkeim</a></p>
    <p><a href="https://www.linkedin.com/profile/view?id=133757953&trk=nav_responsive_tab_profile_pic">https://www.linkedin.com/profile/view?id=133757953&trk</a></p>
  </div>

</div>
