<div class="container">
  <h1>Showing all things tagged with:</h1>
  <h2>Photos</h2>
  <div class="tagged-photos">
    <% @photos.each do |photo| %>
      <%= image_tag photo.image.url (:thumb) %>
    <% end %>
  </div>

<h2>Videos</h2>
<hr>
  <div class="tagged-videos">
    <% @videos.each do |video| %>
      <%= video_tag(video.video.url, controls: true) %>
    <% end %>
  </div>

<h2>Milestones</h2>
<hr>
  <div class="tagged-milestones">
    <% @milestones.each do |milestone| %>
      <%= @milestone.date %>
      <%= @milestone.post %>
    <% end %>
  </div>
</div>
