/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*Booksie Colors:
 yellow: #D8B244
 red: #EC523B
 teal: #37AAA0
 gray: #6E7070
 */


h1, h2, h3, h4, h5, h6 {
  font-family: 'Nixie One';
 }

 p, body {
  font-family: 'Lato', sans-serif;
 }

 #logo {
  color: #EC523B;
  font-size: 30px;
 }

 h1 {
  text-align: center;
 }
/*   Header   */
.navbar {
  margin-bottom: 0px;
 }
/*   Jumbotron   */
 .jumbotron {
    height: 500px;
    background: url(congruent_pentagon.png);
    background-size: cover;
    background-attachment: fixed;
 }

 input {
  width: 100%;
 }

 input#user_first_name, input#user_last_name {
  width: 100%;
 }

 .btn {
  background-color: #37AAA0;
  color: #fff;
  border: none;
  padding: 15px;
 }
/*   Supporting Area   */

.supporting h1 {
  margin-bottom: 30px;
}

.supporting p {
  padding: 30px 0px;
}

.fa-5x {
  color: #D8B244;
}

/*   Testimonials   */



/*   Footer   */
.footer {
  height: 100px;
  background-color: #6E7070;
}

/*  Profile Page */

.add-media-section {
  margin-top: 100px;
  margin-bottom: 100px;
}

.fa-3x {
  padding-top: 80px;
  color: #fff;
}

.circle {
  background-color: #D8B244;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: -2px 1px 6px 0px rgba(0,0,0,0.75);
}

.add-users {
  padding: 30px;
}

.upload-button {
  padding: 20px;
}

/*media query for jumbotron height > 500px: small & xs screen size*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */

@media only screen and (max-width: 650px) {

  .jumbotron {
    height: 700px;
  }
  .fa-3x {
    padding-top: 30px;
  }
  .circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
   }
}

@media only screen and (max-width: 1000px) {
  .jumbotron {
    height: 650px;
  }
}
