/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*Booksie Colors:
 yellow: #D8B244
 red: #EC523B
 teal: #37AAA0
 gray: #6E7070
 */


h1, h2, h3, h4, h5, h6 {
  font-family: 'Nixie One';
 }

 p, body {
  font-family: 'Lato', sans-serif;
 }

 #logo {
  color: #EC523B;
  font-size: 50px;
  font-family: "Lobster";
  text-decoration: none;
 }

 h1 {
  text-align: center;
 }

 h2 {
  color: #EC523B;
 }
/*   Header   */
.navbar {
  margin-bottom: 0px;

 }
/*
.navbar-header {
    float: none;
}

.navbar-toggle {
    display: block;
}

.navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}

.navbar-collapse.collapse {
    display: none!important;
}

.navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
}

.navbar-nav>li {
    float: none;
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}*/

/*   Jumbotron   */
 .jumbotron {
    height: 400px;
    background: url(congruent_pentagon.png);
    background-size: cover;
    background-attachment: fixed;
 }

 input {
  width: 100%;
 }

 input#user_first_name, input#user_last_name {
  width: 100%;
 }

 .btn {
  background-color: #37AAA0;
  color: #fff;
  border: none;
  padding: 15px;
 }
/*   Supporting Area   */

.supporting h1 {
  margin-bottom: 30px;
}

.supporting p {
  padding: 30px 0px;
}

.fa-5x {
  color: #D8B244;
}

/*   Testimonials   */



/*   Footer   */
.footer {
  height: 70px;
  background-color: #6E7070;
/*  position: fixed;
  left:0px;
  bottom:0px;*/
}

/*  Profile Page */

.add-media-section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.fa-5x {
  padding-top: 60px;
  color: #fff;
}

a:focus, button:focus {
  outline:0;
}

.circle {
  background-color: #D8B244;
  height: 200px;
  max-width: 200px;
  border-radius: 50%;
  margin: 0 auto;
}

img {
  padding-top: 10px;
}

.add-users {
  display: inline-block;
  padding: 30px;
}

.upload-button {
  padding: 20px;
}

.showImage {
  max-height: 500px;
}

.milestone {
  padding: 5px;
  margin: 10px;
}



/*media query for jumbotron height > 500px: small & xs screen size*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */

@media only screen and (max-width: 650px) {

  .jumbotron {
    max-height: 700px;
  }

  .fa-5x {
    padding-top: 15px;
  }

  .circle {
    max-height: 100px;
    width: 100px;
    border-radius: 50%;
   }
}

@media only screen and (max-width: 1000px) {
  .jumbotron {
    height: 650px;
  }
}
