<div class="col-md-4 milestones-section">
  <h2>Milestones & Memories</h2>
  <ul class="timeline">
    <li>
      <div class="tldate"></div>
    </li>

  <% @booksie_page.recent_milestones.each do |milestone| %>
    <li>
      <div class="tl-circ"></div>
        <div class="timeline-panel">
          <div class="tl-body">
          <p><%= milestone.date%><%= milestone.post %></p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>

