<div class="container col-md-4 milestones-section">
  <h2>Milestones & Memories</h2>
  <hr>
  <ul class="timeline">
    <% @booksie_page.recent_milestones.each do |milestone| %>
      <li>
        <div class="timeline-panel">
          <div class="tl-body">
            <h4><%= milestone.date %></h4>
            <p><%= milestone.post %></p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>

