<div class="footer col-md-12">
  <p class="col-md-6 col-md-offset-2 learn-more">Want to learn more about the developers of Booksie&copy;
    <a href="http://localhost:3000/aboutus" class="btn btn default">Click Here!</a>
  </p>
  <ul class="list-unstyled list-inline col-md-4">
    <li><a href="#"><i class="fa fa-twitter fa-2x social-media"></i></a></li>
    <li><a href="#"><i class="fa fa-facebook fa-2x social-media"></i></a></li>
    <li><a href="#"><i class="fa fa-instagram fa-2x social-media"></i></a></li>
    <li><a href="#"><i class="fa fa-linkedin fa-2x social-media"></i></a></li>
  </ul>
</div>
